<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pembayaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="stacked">Upload Bukti Pembayaran</ion-label>
      <ion-input placeholder="Nama"></ion-input>
      <ion-input placeholder="Alamat"></ion-input>
      <ion-input placeholder="Bukti Pembayaran"></ion-input>
    </ion-item>
    <ion-buttons expand="block">
      <ion-button>Upload</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>