
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="discover">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="offers">
        <ion-label>Pembayaran</ion-label>
        <ion-icon name="card"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-label>Profil</ion-label>
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
