<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Booking Lapangan Ini </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <form>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating" > Nama </ion-label>
          <ion-input type="text" ngModel name="first-name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating"> Alamat </ion-label>
          <ion-input type="text" ngModel name="last-name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating"> Pilih Paket </ion-label>
         <ion-select [ngModel]="'2'" name="guest-number">
          <ion-select-option value="1">1 Jam </ion-select-option>
          <ion-select-option value="2">2 Jam </ion-select-option>
          <ion-select-option value="3">3 Jam </ion-select-option>
         </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Pilih Tanggal</ion-label>
          <ion-datetime 
          display-format="MMM DD YYYY"
          picker-format="YY MMM DD"
          [min]=""
          [max]=""
          ngModel
          name="date-from"
          required
          #startDateCtrl="ngModel"
          ></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3">
        <ion-item>
          <ion-label>Pilih Jam</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3" offset-sm="3">
        <ion-button type="submit" color="primary" expand="block">Book!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>