<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Jadwal Lapangan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>
