<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ isLogin ? 'Login' : 'SignUp'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
<ion-list>
  <ion-item>
    <ion-label position="floating">E-Mail</ion-label>
    <ion-input type="email" 
    ngModel name="email" 
    required email
    #emailCtrl="ngModel">
  </ion-input>
  </ion-item>
  <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched"
  lines="none">
    <ion-label>
      Should be a valid email address</ion-label>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" 
    ngModel name="password"
    required minlength="6" 
    #passwordCtrl="ngModel">
  </ion-input>
  </ion-item>
  <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
    <ion-label>
      Should at least be 6 characters long</ion-label>
  </ion-item>

</ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
      <ion-button 
      type="button" class="ion-padding" color="primary" 
      fill="clear" 
      expand="block"
      (click)="onSwitchAuthMode()">
      Switch to {{ isLogin ? 'SignUp' : 'Login'}}
    </ion-button>
      <ion-button type="submit" class="ion-padding" color="primary" (click)="onLogin()" expand="block"
      [disabled] ="!f.valid">
        Login
      </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->

</ion-content>
